[user]
	name = Jon Johansen
	email = jonjohansen2k@gmail.com
    username = jonjohansen
[color]
	ui = true
[push]
	default = simple
[alias]
    yeet = push -f
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	s = status
[core]
	excludesfile = ~/.gitignore