[user]
	name = Jon Johansen
	email = jonjohansen2k@gmail.com
	username = jonjohansen
[core]
	excludesfile = ~/.gitignore
	editor = code --wait
[init]
	defaultBranch = main
[color]
	ui = true
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[pull]
	rebase = true
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[alias]
	cp = cherry-pick
	yeet = push -f
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	s = status
	fixup = commit --amend --no-edit
	alias = config --global alias.
	wip = add . && git commit -m "wip" --no-verify

[includeIf "gitdir:~/bekk/"]
  path = ~/bekk/.gitconfig

